* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

header{
  height: 7vh;
  background: #ee6c4d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header img {
  height: 30px;
  /* margin-top:5px;
  margin-left: 5px; */
}

.tableSection {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftSection {
  width: 20%;
  height: 90vh;
  background-color: #ecf2fa;
}

.rightSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightSection #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
}

.rightSection #customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.rightSection #customers tr:nth-child(even) {
  background-color: #f7ebe9;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d61d3;
  color: white;
}

.searchBar {
  /* width: 100%; */
  height: 100%;
}

.table {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.paginationSection {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #0d61d3;
  color: white;
  border: 1px solid #0d61d3;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button{
  cursor: pointer;
}
.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  
  input[type=text] {
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 12px;
    border: none;
  }
  
   .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }


  .dropbtn {
    background-color: #ecf2fa;
    color: #505050;
    /* padding: 16px; */
    font-size: 12px;
    border: none;
    margin-right: 15px;
    height: 80%;
    width: 100px;
  }
  
  .dropdown {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
  display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


  .searchSec{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 95%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #acacac;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }